body{
	font-size: 16px;
	color: #fff;
	background-color: maroon;
    font-family: 'Arima Madurai', cursive;
   }
 
#header-nav {
font-weight: bold;
color: #fff;
border-radius: 0;
border: 0;
background-color: yellow;
}
#brand{
	text-align: center;
}
#brand{
color: maroon;
}
#brand a:hover , #brand a:focus{
	text-decoration: none;
}

#row{
	width: 100%;
	}
#box .text-center{
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: black;
	opacity: .6;
}
#menu{
	font-weight: bold;
	font-size: 30px;
	margin-top: 15px;
	margin-bottom:  25px;
}
#par{
	background-color: black;
	opacity: .6;
	padding: 12px;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: #951c49;
	text-align: center;
}
#nav-list a:hover {
background: #e7e7e7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}
